#root {
  width: 100%;
  min-height: 100vh;
}
button {
  border-radius: 50px !important;
}

button:focus {
  outline: none !important;
}
button:hover {
  border-color: inherit !important;
}

a:hover {
  color: inherit !important;
}
